.navbar-brand{
font-size: 14px;
text-transform: uppercase;
}

.my_image{
width: 100%;
height: 100;
}




.my_title_cat{
text-transform: uppercase;
font-size: 20px;
letter-spacing: .2em;
color: #6b42f4;
}

