{% extends "shop/base.html" %}
{%load staticfiles%}
{%load crispy_forms_tags %}
{%block title%}
Signup

{%endblock%}
{%block content%}
<div class="container">
    {%if not form.is_valid%}
    <div class="mx-auto pt-5">
        <br/>
        <h1 class="text-center"> Create a new account</h1>  <br/>
        <div class="col-6 col-sm-6 col-md-6 col-lg-5 mx-auto bg-light">
            <br/>
            <p> Enter the below information to create a new account</p>
            <form method="POST" action="">
                {%csrf_token%}
                <p>{{form |crispy}}</p>
                <button class="btn btn-secondary" type="submit">Register</button>
            </form>
            <br/></div>
    </div>
    {%else%}
<div class="mx-auto"> <br/>

<h1 class="text-center">Your account has been successfully created</h1><br/><br/>
    <div>
        <p>Dear Customer,<br/><br/>
            Your account has been created and it is ready to use<br/>
            <a href="{%url 'shop:allProd_Cat'%}">Continue shopping</a> and enjoy our varieties of products in store.
        </p>
    </div>
</div>
{%endif%}
</div>
{%endblock%}