{% extends "shop/base.html" %}
{%load staticfiles%}
{%block metadescription%}

{{product.description}}
{%endblock%}
{%block title%}
{{product.name}}
{%endblock%}
{%block content%}
<div class ="container">

    <div class="row pt-15 b-20" >
        <div class="mx-auto">
  <p> <a href="{%url 'shop:allProd_Cat'%}">Home</a>| <a href="{{product.category.get_url}}" >{{product.category}}</a> | {{product.name}} </p>
div>
<br/> <br/>
    <div>
        <div>
           <div>
  <p> <a href="{%url 'shop:allProd_Cat'%}">Home</a>| <a href="{{product.category.get_url}}" >{{product.category}}</a> | {{product.name}} </p>
</div>
            <div class="row">
                <div class="ccol-12 col-sm-12 col-md-12 col-lg-6">
                    <div style="min-width: 18rem" class="col-4">
            <img src="{{product.image.url}}">
                        </div>
  </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-6">
         <h2 style="font-size: 16px; padding-top: 15px;">{{product.name}}</h2>
            <p>{{product.price}}</p>

            <p> Description: </p> <p>{{product.description}}</p>
            {%if product.stock <= 0%}
            <h3><p>Out of Stock</p></h3>
            {%else%}
            <div><a href="{%url 'cart:add_cart' product.id%}">Add to Cart</a> </div>
            {%endif%}
        </div>

                </div>
             </div>
        </div>
</div>
        </div>
</div>
   {%endblock%}
